.feature-message {
  padding: 10rem;
  text-align: center;
  
  h2 {
    font-family: $header-font;
    font-size: $m-size;
    font-weight: 700;
    margin: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $dark-text;
  }

  .feature-description {
    font-family: $body-font;
    font-size: $s-size;
    color: #666666;
  }
}