footer{
  background-color: $dark1;
}

.footer-columns{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: $s-size;
  padding: $xxl-size;
  background-color: $dark1;
  color: $light-on-dark-text;
  font-family: $header-font;
  max-width: $max-width;
  margin: auto;
}

.footer-column{
  margin: $m-size;

  h6{
    text-transform: uppercase;
    font-size: $s-size;
    color: $white;
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 700;
    padding-bottom: $s-size;
  }

  p {
    padding-bottom: $s-size;
  }

  .logo {
    margin-bottom: $s-size;
  }
}

.footer-links{
  list-style-type: none;
  padding: 0;
  a {
    text-decoration: none;
    color: $light-on-dark-text;
  }

  li{
    padding-bottom: $s-size;
  }
}

.rights{
  color: $light-on-dark-text;
  padding-bottom: $m-size;
  text-align: center;
  background-color: $dark1;
  font-size: $s-size;

  p{
    margin: 0;
  }
}