.header{
  display: flex;
  justify-content: space-between;
  font-size: $s-size;
  padding: $l-size;
}

.mobile-nav-list {
  li {
    padding-bottom: $m-size;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
