@media screen and (min-width: $mobile-breakpoint){
  .footer-columns{
    display: flex;
    flex-direction: row;
  }

  .news-letter{
    form{
      display: block;
    }

    input{
      max-width: 560px;
    }
  }
}