@media screen and (min-width: $mobile-breakpoint){
  .footer-columns{
    display: flex;
    flex-direction: row;
  }

  .news-letter{
    form{
      display: block;
    }

    input{
      max-width: 560px;
    }
  }

  ul.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
    text-transform: uppercase;
    font-family: $header-font;
  
    li {
      margin: 0 15px;
    }
  
    a{
      text-decoration: none;
      color: gray;
    }
 
    .sub-menu {
      // display: none;
    }
  }

}

// SUB-MENU
.menu-item {
  width: 200px;
  perspective: 2000px;
}

.sub-menu {
  position: absolute;
  top: 30px;
  padding: 15px;
  background-color: #ccc;
  border-radius: 6px;

  transform-origin: 50% -30px;
  z-index: 20;
}

.sub-menu-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  z-index: 20;
}

.sub-menu-container {
}

.sub-menu-item {
  margin-bottom: 5px;
  z-index: 20;
}
