.register_container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  h6 {
    margin-bottom: 60px;
    margin-top: 0px;
    color: $dark-text;
    font-size: 20px;
    letter-spacing: 3px;
    @media (min-width: $mobile-breakpoint) {
      font-size: $l-size;
    }
  }
  .form-label {
    font-size: $s-size;
    @media (min-width: $mobile-breakpoint) {
      font-size: 1.8rem;
    }
  }
}

input {
  border: 1px solid #2d3a4b;
  height: 44px;
  width: 100%;
  text-align: left;
  padding: 0 10px;
  font-size: $m-size;
  margin-top: 10px;
}

h6 {
  color: #2d3a4b;
  font-size: 20px;
  letter-spacing: 3px;
}
h6::before {
  width: 60px;
  height: 2px;
  background: #2d3a4b;
  border: none;
  content: "";
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}
ul {
  list-style: none;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn {
  border: none;
  color: #fff;
  display: inline-block;
  padding: 5px 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  line-height: 46px;
  background: #2d3a4b;
  letter-spacing: 1px;
  /* position: relative;
	z-index: 1; */
}
