section {
  padding-top: 100px;
  padding-bottom: 100px;
  .form_container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    h6 {
      margin-bottom: 60px;
      margin-top: 0px;
      color: $dark-text;
      font-size: 1.8rem;
      letter-spacing: 3px;
      &:before {
        width: 60px;
        height: 2px;
        background: $dark-text;
        border: none;
        content: "";
        display: inline-block;
        position: absolute;
        margin-top: 30px;
      }
      @media (min-width: $mobile-breakpoint) {
        font-size: $m-size;
      }
    }
    form {
      .ul_row {
        margin-left: -25px;
      }
      input {
        font-size: 20px;
        border-color: $dark-text;
      }
      .form-label {
        font-size: $s-size;
        @media (min-width: $mobile-breakpoint) {
          font-size: 1.6rem;
        }
      }

      .btn {
        border: none;
        color: #fff;
        display: inline-block;
        padding: 0px 30px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        border-radius: 0px;
        font-family: "Montserrat", sans-serif;
        line-height: 46px;
        background: #2d3a4b;
        letter-spacing: 1px;
        @media (min-width: $mobile-breakpoint) {
          font-size: 18px;
          padding: 5px 50px;
        }
      }
    }
    .social_links {
      .login-with {
        margin-left: -20px;
        li {
          a {
            display: inline-block;
            width: 100%;
            border: 1px solid $dark-text;
            padding: 15px 0;
            text-align: center;
            margin-bottom: 15px;
            text-decoration: none;
            color: $dark-text;
            font-size: $s-size;
          }
        }
      }
    }
  }
}
