.products {
	.new-arrival-products {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
		grid-gap: 2rem;
		place-items: center;
		max-width: $max-width;
		margin: auto;
	}
	h1{
		font-size: 25px;
		font-weight: normal;
		text-transform: uppercase;
		margin-top: 30px;
		color: #666666;
		line-height: 45px;
		text-align: center;
	}
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
	// border: 1px solid black;
	padding: 10px;
  
  .brand {
    text-transform: uppercase;
    color: $dark-text;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $header-font;
    letter-spacing: 2px;
		text-align: center;
  }
  
  p {
    font-family: $body-font;
    color: #6F6F6F;
    font-size: $s-size;
  }
	span{
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
		color: #2d3a4b;
		}
}

	
	

