.padding-bottom-100 {
  padding-bottom: 100px ;
}
.padding-top-100 {
  padding-top: 100px ;
}
.margin-top-0 {
  margin-top: 0px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.light-gray-bg {
  background: #f7f7f7;
}
.main {
  padding-right: 75px;
  padding-left: 75px;
  margin-right: auto;
  margin-left: auto;
  
}
.shopping-cart {
	
	.cart-head {
    display: inline-block;
    width: 100%;
    padding: 0px 0;
    border-bottom: 1px solid #d1d5db;
    padding-bottom: 20px;
    margin-bottom: 30px;
    h6 {
        margin: 0px;
        font-weight: normal;
        font-size: 12px;
        color: #2d3a4b;
    }
  }
  h5 {
    letter-spacing: 2px;
    color: #2d3a4b;
    margin-bottom: 0px;
    font-size: 20px;
  }
p {
    color: #2d3a4b;
    margin-bottom: 0px;
    font-size: 12px;
  }

  .cart-details {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d5db;
    li {
      min-height: 150px;
    }
    h6 {
      font-weight: normal;
      font-size: 12px;
    }
  }
 
  img {
    width: 100%;
  }
  .item-img {
        // width: 170px;
    display: inline-block;
  }
  .price {
    font-size: 18px;
    font-weight: bold;
    z-index: 9;
    color: #2d3a4b;
    // -webkit-transition: 0.4s ease-in-out;
    // -moz-transition: 0.4s ease-in-out;
    // -ms-transition: 0.4s ease-in-out;
    // -o-transition: 0.4s ease-in-out;
    // transition: 0.4s ease-in-out;
  }
  .position-center-center {
    width: 100%;
  }
  .quinty {
    position: relative;
    padding: 0 15px;
    color: #2d3a4b;
    margin-bottom: 0px;
    font-size: 12px;
  }
  .remove {
    position: relative;
    padding: 0 15px;
    color: #2d3a4b;
    margin-bottom: 0px;
    font-size: 12px;
  }
  
.cart-ship-info{
  .coupn-btn {
    margin-top: 30px;
    .shop_action{
      text-transform: uppercase;
      background: #eeeeee;
      color: #2d3a4b;
      margin-right: 30px;
      font-weight: bold;
      line-height: 40px;
      font-size: 14px;
      padding: 12px 16px ;
      letter-spacing: 2px;
    }
    .cartform {
      background: #eeeeee;
      padding: 50px;
      display: inline-block;
      width: 100%;
      input {
        width: 70%;
        float: left;
        border-right: 0px;
        margin: 0px;
      }
      button.btn {
        width: 30%;
        height: 44px;
        float: left;
        font-size: 14px;
        font-weight: bold;
        z-index: 1;
      }
    }
    button.btn {
      width: 30%;
      height: 44px;
      float: left;
      font-size:14px;
      font-weight: bold;
      z-index: 1;
     
    }
  }
  
  .grand-total {
	  border: 3px solid #ffe115;
	  padding: 10px 30px;
    font-size: 14px;
  
 
    p {
      font-weight: normal;
    color: #2d3a4b;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
    font-size: 12px;
    margin: 0px;
       span {
        float: right;
      }
    }
   
    .all-total {
      border-bottom: none ;
      font-weight: bold;
      font-size: 18px;
    }   
  }
  .order-detail p {
    font-weight: normal;
    color: #2d3a4b;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
    font-size: 12px;
    margin: 0px;
  }
 
}

}
