// Fonts
$header-font: 'Monteserrat', sans-serif;
$body-font: 'Playfair', sans-serif;

// Colours
$white: #fff;
$black: #000;
$green-black: #3F4D42;
$dark1: #131920;
$dark2: #333;
$light-on-dark-text: #999;

$s-size: 1.4rem;
$m-size: 2.4rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$xxl-size: 8rem;

//Breakpoints
$mobile-breakpoint: 767px;