$fontFamily:"Playfair Display', serif";

.about{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	padding-top: $l-size;
}

.history{
	display: flex;
	width: 60%;
	flex-direction: column;
	justify-content: center;
  font-family: $fontFamily;
	font-size: 16px;
	padding: $xl-size 0;
	 h1{
 		text-align: center;
	}
	@media (max-width: 480px) {
			font-size: 18px;
		}
}
	
.about-img{
  display: block;  
  margin-left: auto;  
  margin-right: auto; 
	width:80%;
	height: 50%; 
}

.vision-text{
  margin-top: 60px;
  width: 70%;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  margin-top: 80px;
  font-family: $fontFamily;
  font-size: 16px;
	.left{
		width: 60%;
		height:auto;
		float: left;
	}   
	.right{
		width: 60%;
		height:auto;
		float: right;
	} 
	@media (max-width: 480px) {  
		.left{
			width: 100%;
			height:auto;
		}   
	}	
	@media (max-width: 480px) {
		font-size: 18px;
	}
		h3 {
			font-size: 20px;
			text-align: left;
			color: #2d3a4b;
			letter-spacing: 2px;
			@media (max-width: 480px) {
				font-size: 22px;
			}
		}
		h2 {
			font-family: $fontFamily;
			font-size: 25px;
			font-weight: normal;
			text-transform: none;
			margin-top: 30px;
			color: #666666;
			line-height: 45px;
			@media (max-width: 480px) {
				font-size: 27px;
			}
		}

}


.our-team{
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 16px;
	@media (max-width: 480px) {
		font-size: 18px;
	}
	.heading{
		text-align: center;
		padding-bottom: 100px;
	}
	.avatar {			
		position: relative;
		overflow: hidden;
		display: block;
		margin-left: auto;  
		margin-right: auto;  
		@media (max-width: 480px) {
			height:100px;
			width:100px;
		}
	}

	.our-team-images {
		border-radius: 50%;
	}

	.column {
		float: left;
		width: 33%;
		padding: 10px;

	}
	.team-names {
		position: relative;
		margin-top: 30px;
		margin-bottom: 50px;
		text-align:center;
			h6 {
				font-weight: bold;
				font-size: 18px;
				margin-top: 0px;
				color: #2d3a4b;
				text-transform: uppercase;
				margin-bottom: 5px;
				@media (max-width: 480px) {
					font-size: 20px;
				}
			}
			p {
				color: #666666;
			}
	  }	
	}	

	