.adm-container{
	display: flex;
	flex-direction: row;
	font-family: "Lato", sans-serif;
	 
	// justify-content: center;
}
.sidebar {
  margin-top: 30px;
	margin-left: 30px;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
}

.sidebar li {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
	font-size: 20px;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
	font-size:18px;
}