.products {
	.new-arrival-products {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
		grid-gap: 2rem;
		place-items: center;
		max-width: $max-width;
		margin: auto;
	}
	h1{
		font-size: 25px;
		font-weight: normal;
		text-transform: uppercase;
		margin-top: 30px;
		color: #666666;
		line-height: 45px;
		text-align: center;
	}
}

.product-item {
  display:block;
  flex-direction: column;
  width: 25%;
  padding: 25px;
  justify-content: center;

	.product__img {
		height: 20%;
	}
	.product__description{
  text-align: center;
  font: 1.5em sans-serif;  
	}

}	



