.Form_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 12px;
}

.Container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.SocialLink {
  width: 100%;
  border: 1px solid #2d3a4b;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 20px;
}
